.main-container {
  height: 1000px;
  width: 100%;
  background-color: #faf9f6;
}

div.carousel-container {
  height: 80vh;
  width: 100%;
  display: inline-block;
  align-items: flex-start;
  justify-content: center;
}

.main-image-container {
  display: flex;
  align-items: flex-start;
}

.images-container {
  display: flex;
  justify-content: center;
}

div.image-scroll {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
}

#main-pic {
  height: auto;
  width: 800px;
}

#side-pic {
  height: auto;
  width: 187px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.sheets-desc {
  font-family: "Monotype Baskerville",serif;
  font-size: 2.5rem;
  line-height: 1.225;
  color: #4a4a4a;
  margin-top: 40px;
}

.sheets-price {
  font-family: "Avenir Next",sans-serif;
  font-size: 1rem;
  line-height: 1.225;
  color: #4a4a4a;
}