.main-container {
  height: 1000px;
  width: 100%;
  background-color: #faf9f6;
}

div.carousel-container {
  height: 525px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.image-scroll {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
}

#main-pic {
  height: auto;
  max-width: 800px;
}

#side-pic {
  height: auto;
  width: 187px;
  margin-left: 10px;
  margin-bottom: 10px;
}
