.nav-container {
  width: 100%;
  height: 94px;
}
  
.nav-topper {
  background-color: rgb(82, 127, 136);
  width: 100%;
  height: auto;
  padding-bottom: 8px;
}

.topper-text {
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding-top: 1vh;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  font-family: Quicksand; 
}

.nav-bottom {
  display: flex;
  height: 60px;
  flex-direction: row ;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

h1.nav-com-name {
  font-family: Quicksand;
  width: 4550px;
  display: flex;  
  justify-content: center;
  color: #c5b376;
  font-size: 23px;
  letter-spacing: 8px;
  font-weight: 500;
  margin-top: 1vh;
}

.menu-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menu-checkout {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.menu-icon {
  height: 40px;
  width: auto;
}

.basket-icon {
  height: 35px;
  width: auto;
}
